<div class="pulitzer-row">
  <%= render 'pulitzer/shared/error_messages', object: ffst %>
  <%= form_for ffst, html: ajax_form_hash(dom_target(ffst)) do |f| %>
    <%= render partial: 'form_fields', locals: { f: f, ffst: ffst } %>
    <div class="pulitzer-span ten-percent">
      <%= f.submit "Update" %>
    </div>
    <div class="pulitzer-span ten-percent">
      <%= link_to('Cancel', free_form_section_type_path(ffst), :class => 'button',
        data: { ajax_link: true, ajax_target: dom_target(ffst) } ) %>
    </div>
    <div class="pulitzer-span ten-percent">
      <%= ajax_delete 'Delete', free_form_section_type_path(ffst), {}, dom_target(ffst) %>
    </div>
  <% end %>

</div>