<ul class="inline-list">
  <li><%= ffst.name %></li>
  <li>
    <%= ajax_link "Edit", edit_free_form_section_type_path(ffst), {}, dom_target(ffst) %>
  </li>
  <li>
    <%= ajax_link "Required partials", partial_types_path(ffst_id: ffst), {}, "#partials_#{dom_id(ffst)}" %>
  </li>
  <li>
    <%= ajax_delete 'Delete', free_form_section_type_path(ffst), {}, dom_target(ffst) %>
  </li>
  <div id="partials_<%= dom_id(ffst) %>"></div>
</ul>
