<div class="pulitzer-row">
      <%= form_for version, html: { class: 'pulitzer-form-left' } do |f| %>
        <%= f.submit "Activate" %>
        <%= hidden_field_tag :status, :active %>
      <% end %>

      <%= form_for version,  html: { class: 'pulitzer-form-left' } do |f| %>
        <%= f.submit "Abandon" %>
        <%= hidden_field_tag :status, :abandoned %>
      <% end %>

</div>
