<%= render partial: '/pulitzer/posts/breadcrumbs', locals: {post_type: post.post_type} %>
<% if post.plural? %>
  <%= ajax_link "#{post.post_type.name.singularize} Posts >", pulitzer.posts_path(post_type_version_id: post.post_type_version_id), {}, '[data-tab-id="templates"]' %>
<% end %>
<h1>Editing <%= post.editor_title %></h1>

<%= render partial: 'slug_wrapper', locals: {post: post} %>

<div class="pulitzer-row margin-bottom" id="<%= dom_id(post, :preview_version)%>">
</div>

<%= ajax_link_now '', pulitzer.edit_version_path(post.next_version), {}, dom_target(post, :preview_version) %>
