<div class="preview-link">
  <% if @preview_path && post.preview_version&.publishable? %>
    <%= link_to "Preview", @preview_path, target: '_blank' %>
  <% else %>
    <small>Preview not available.
      <% if !post.preview_version&.publishable? %>
        <%= post.preview_version.missing_requirement_messages.join(', ') %>
      <% end %>
    </small>
  <% end %>
</div>

<div class="pulitzer-row margin-bottom">
  <div class="pulitzer-row">
    <div class="pulitzer-span margin match-h2" <%= expander(dom_id(post, :slug)) %>>&rtrif;</div>
    <div class="pulitzer-span margin match-h2" <%= collapser(dom_id(post, :slug)) %>>&dtrif;</div>
    <div class="pulitzer-span"><h2>Slug</h2></div>
    <div <%= collapsed(dom_id(post, :slug)) %>>
      <div class="pulitzer-row margin-bottom list-item">
        <div class="pulitzer-row">
          <ul class="list">
            <li><%= post.slug %></li>
            <% unless post.post_type_version.singleton_post? %>
              <li><%= ajax_link "Edit", pulitzer.edit_slug_post_path(post), {}, dom_target(post) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
