<div class="pulitzer-row">
  <div class="pulitzer-span margin"><h5><%= partial_type.label %></h5></div>
  <div class="pulitzer-span right">
    <%= render partial: '/pulitzer/shared/drag_handle' %>
  </div>
</div>
<%= render 'pulitzer/shared/error_messages', object: partial_type %>
<%= form_for partial_type, html: ajax_form_hash(dom_target(partial_type)), multipart: true,
  data: { server_endpoint: partial_type_path(partial_type) } do |f| %>
  <%= f.label :label %>
  <%= f.text_field :label %>
  <%= f.label :layout_id, 'Layout' %>
  <%= f.collection_select :layout_id, partial_type.available_layouts, :id, :name, {}, {} %>
  <%= submit_tag "Update" %>
  <%= link_to('Cancel', partial_type_path(partial_type), :class => 'button',
    data: { ajax_link: true, ajax_target: dom_target(partial_type) } ) %>
    or
  <%= ajax_delete 'delete', partial_type_path(partial_type), {class: 'button'}, dom_target(partial_type) %>
<% end %>
