<div id="<%= dom_id ffst, :partial_container %>" data-sorter href="<%= update_all_partial_types_path %>">
  <% @ffst.partial_types.each do |partial_type| %>
    <%= render partial: '/pulitzer/partial_types/show_wrapper', locals: { partial_type: partial_type } %>
  <% end %>
</div>

<div id="<%= dom_id ffst, :partials %>">
  <div class="pulitzer-row margin-bottom list-item">
    <%= ajax_link "add a new partial for #{ffst.name}", new_partial_type_path({ffst_id: ffst}), {}, dom_target(ffst, :new_partial) %>
    <div id="<%= dom_id(ffst, :new_partial) %>"></div>
  </div>
</div>
