<%= f.label :name %>
<%= f.text_field :name %>
<div <%= revealer_target_attrs(dom_id(f.object, :kind)) %>>
  <div <%= revealer_option_attrs(dom_id(f.object, :kind), trigger: 'template') %>>
    <%= f.label :plural %>
    <%= f.check_box :plural %>
  </div>
  <div <%= revealer_option_attrs(dom_id(f.object, :kind), trigger: 'partial') %>>
    <%= f.hidden_field :plural, value: true %>
  </div>
</div>
<%= f.select :kind, Pulitzer::PostType.kinds.keys.map { |m| [m.humanize, m] }, {}, revealer(dom_id(f.object, :kind), highlander: true) %>
