<% if post_type.partial? %>
  <div class="pulitzer-row">template path: <%= post_type.template_path %></div>
<% end %>
<%= render 'pulitzer/shared/error_messages', object: post_type %>
<%= form_for post_type, html: ajax_form_hash(dom_target(post_type)) do |f| %>
  <%= render partial: 'form_fields', locals: { f: f } %>
  <%= f.submit "Update" %>
  <%= link_to('Cancel', post_type_path(post_type), :class => 'button',
    data: { ajax_link: true, ajax_target: dom_target(post_type) } ) %>
<% end %>
