<%= form_for post_type, html: ajax_form_hash('#post_types_container', insert_method: 'append', sub_class: "AddALineForm", container: '#new_post_type') do |f| %>
  <%= render partial: 'form_fields', locals: { f: f } %>
  <div class="pulitzer-span margin"><%= f.submit "Create" %></div>
  <div class="button pulitzer-span" <%= emptier "#new_#{post_type.kind}" %>>Cancel</div>
<% end %>
<%= render 'pulitzer/shared/error_messages', object: post_type %>
