<div class="pulitzer-row">
  <div class="pulitzer-row padding">
    <div class="pulitzer-span one-quarter"><%= post_type.name %></div>
    <div class="pulitzer-span ten-percent">
      <% if Pulitzer.skip_metadata_auth? || self.instance_eval(&Pulitzer.metadata_closure) %>
        <%= ajax_link 'Templates', post_type_versions_path(post_type_id: post_type.id), {}, '[data-tab-id="' + post_type.kind.pluralize + '"]' %>
      <% else %>
        <%= link_to_posts(post_type.published_type_version, 'Page Index', 'Page Content') %>
      <% end %>
    </div>
    <div class="pulitzer-span ten-percent">
      <% if Pulitzer.skip_metadata_auth? || self.instance_eval(&Pulitzer.metadata_closure) %>
        <%= ajax_link "Details", edit_post_type_path(post_type), {}, dom_target(post_type) %>
      <% end %>
    </div>
    <% if Pulitzer.skip_metadata_auth? || self.instance_eval(&Pulitzer.metadata_closure) %>
      <div class="pulitzer-span ten-percent">
        <%= ajax_delete 'Delete', post_type_path(post_type), {}, dom_target(post_type) %>
      </div>
    <% end %>
  </div>
</div>
