<div class="pulitzer-row">
  <ul class="inline-list">
    <li><%= post_type.name %></li>
    <li>
      <% if Pulitzer.skip_metadata_auth? || self.instance_eval(&Pulitzer.metadata_closure) %>
        <%= ajax_link "Details", edit_post_type_path(post_type), {}, dom_target(post_type) %>
      <% end %>
    </li>
    <% if Pulitzer.skip_metadata_auth? || self.instance_eval(&Pulitzer.metadata_closure) %>
      <li>
        <%= ajax_link 'Templates', post_type_versions_path(post_type_id: post_type.id), {}, '[data-tab-id="templates"]' %>
      </li>
    <% else %>
      <%= post_type_version.arity_display %>
    <% end %>
    <% if Pulitzer.skip_metadata_auth? || self.instance_eval(&Pulitzer.metadata_closure) %>
      <li>
        <%= ajax_delete 'Delete', post_type_path(post_type), {}, dom_target(post_type) %>
      </li>
    <% end %>
  </ul>

</div>
