<div class="pulitzer-row">
  <ul class="inline-list">
    <li><%= post_type.name %></li>
    <li><%= link_to_posts(post_type, 'Index', 'Manage') %></li>
    <li <%= expander("post_type_content_element_types_#{dom_id(post_type)}") %>>
      <%= link_to "Template", '#', class: 'toggle-post-type-content-elements', data: { post_types: post_type.id } %>
    </li>
    <li>
      <% if Pulitzer.skip_metadata_auth? || self.instance_eval(&Pulitzer.metadata_closure) %>
        <%= ajax_link "Details", edit_post_type_path(post_type), {}, dom_target(post_type) %>
      <% else %>
        <%= post_type.name %>
      <% end %>
    </li>
  </ul>

  <div <%= collapsed("post_type_content_element_types_#{dom_id(post_type)}") %> style='display:none'>
    <div id="post_type_content_element_types_container_<%= dom_id(post_type) %>">
      <% post_type.post_type_content_element_types.each do |ptcet| %>
        <%= render partial: '/pulitzer/post_type_content_element_types/show_wrapper', locals: {ptcet: ptcet} %>
      <% end %>
    </div>
    <%= ajax_link 'add a new content element for ' + post_type.name, new_post_type_content_element_type_path(post_type_id: post_type.id), {}, "#new_post_type_content_element_type_#{dom_id(post_type)}" %>
    <div id="new_post_type_content_element_type_<%= dom_id(post_type) %>"></div>
  </div>
</div>
