<div <%= tab_set("tab", type: :ajax, default_tab: params[:tab] || 'templates') %>>
  <% if Pulitzer.skip_metadata_auth? || self.instance_eval(&Pulitzer.metadata_closure) %>
    <div class="pulitzer-pill"
      href="<%= tags_path %>"
      <%= tab_trigger('tags')%>>
      Tags
    </div>
    <div class="pulitzer-pill"
      href="<%= post_types_path(post_type_kind: 'template') %>"
      <%= tab_trigger('templates')%>>
      Full Page Templates
    </div>
    <div class="pulitzer-pill"
      href="<%= post_types_path(post_type_kind: 'partial') %>"
      <%= tab_trigger('partials')%>>
      Partials
    </div>
    <div class="pulitzer-pill"
      href="<%= custom_option_lists_path %>"
      <%= tab_trigger('options')%>>
      Clickable Options
    </div>
  <% else %>
    <div class="hidden"
      href="<%= post_types_path(post_type_kind: 'template') %>"
      <%= tab_trigger('templates')%>>
    </div>  
  <% end %>
</div>
<% if Pulitzer.skip_metadata_auth? || self.instance_eval(&Pulitzer.metadata_closure) %>
  <div class="pulitzer-row" <%= tab_content('tags') %>></div>
  <div class="pulitzer-row" <%= tab_content('templates') %>></div>
  <div class="pulitzer-row" <%= tab_content('partials') %>></div>
  <div class="pulitzer-row" <%= tab_content('options') %>></div>
<% else %>
  <div class="pulitzer-row" <%= tab_content('templates') %>></div>
<% end %>
