<%= f.label :name %>
<%= f.text_field :name %>
<%= f.hidden_field :kind %>
<% if f.object.template? %>
  <div class="pulitzer-row">
    <%= f.label :plural %>
    <%= f.check_box :plural %>
  </div>
<% elsif f.object.partial? %>
    <%= f.hidden_field :plural, value: true %>
<% end %>