<%= ajax_link '> all ' + @post_type.kind.pluralize + ' > ', post_types_path(post_type_kind: @post_type.kind), {}, '[data-tab-id="' + @post_type.kind.pluralize + '"]' %>
<h3>"<%= @post_type.name %>" Template Versions</h3>
<div class="pulitzer-row margin-bottom list-item">
  <% if Pulitzer.skip_metadata_auth? || self.instance_eval(&Pulitzer.metadata_closure) %>
    <%= ajax_link "Create a blank version of this template",
          post_type_versions_path(post_type_version: {post_type_id: @post_type.id}),
          {}, '#post_type_versions_container', http_method: 'POST', insert_method: 'append' %>
    <br>
    <div class="pulitzer-span right">
      <div class="pulitzer-row bold margin-bottom">Import New Version from JSON file</div>
      <div class="pulitzer-row">
        <%= form_for @post_type, url: import_version_post_type_path(@post_type), html: ajax_form_hash('#post_type_versions_container', insert_method: 'append').merge( multipart: true, method: 'PATCH') do |f| %>
          <%= f.file_field :import_json %>
          <%= f.submit 'Import' %>
        <% end %>
      </div>
    </div>
    <% if @post_type.published_type_version %>
      <%= ajax_link "Clone the published version of this template",
            clone_post_type_versions_path(post_type_version: {post_type_id: @post_type.id}), {}, '#post_type_versions_container',
            http_method: 'POST', insert_method: 'append' %>
    <% end %>
  <% end %>
</div>

<div id="post_type_versions_container">
  <% @post_type_versions.each do |post_type_version| %>
    <%= render partial: 'show_wrapper', locals: {post_type_version: post_type_version} %>
  <% end %>
</div>
