<div class="pulitzer-span one-fifth">
  <%= f.text_field :label %>
</div>
<div class="pulitzer-span ten-percent">
  <%= f.collection_select :content_element_type_id, Pulitzer::ContentElementType.all, :id, :name, {},
revealer(dom_id(ptcet, :revealer), highlander: true) %>
</div>
<%= f.hidden_field :post_type_version_id %>

<div <%= revealer_target_attrs(dom_id(ptcet, :revealer)) %>></div>

<div <%= revealer_option_attrs(dom_id(ptcet, :revealer), trigger: Pulitzer::ContentElementType.find_by(name: 'Image').id) %> class="pulitzer-span two-fifths">
  <%= f.text_field :height, placeholder: 'Height' %>
  x
  <%= f.text_field :width, placeholder: 'Width' %>
</div>

<div <%= revealer_option_attrs(dom_id(ptcet, :revealer), trigger: Pulitzer::ContentElementType.find_by(name: 'Text').id) %> class="pulitzer-span two-fifths">
  <%= f.select :text_editor, Pulitzer.text_editor_toolbars.map { |t| t[:name] } %>
</div>

<div <%= revealer_option_attrs(dom_id(ptcet, :revealer), trigger: Pulitzer::ContentElementType.find_by(name: 'Video').id) %> class="pulitzer-span two-fifths">
  &nbsp;
</div>

<div <%= revealer_option_attrs(dom_id(ptcet, :revealer), trigger: Pulitzer::ContentElementType.find_by(name: 'Clickable').id) %> class="pulitzer-span two-fifths">
  <%= f.select :clickable_kind, options_from_collection_for_select(Pulitzer::PostTypeContentElementType.clickable_kinds, :gid, :name, f.object.clickable_kind) %>  
</div>
<div class="pulitzer-span ten-percent">&nbsp;</div>
<div class="pulitzer-span five-percent">
  <%= f.check_box :required %>
</div>

<div class="pulitzer-span five-percent">
  <%= f.text_field :sort_order %>
</div>