<div class="pulitzer-row">
  <div class="pulitzer-span one-fifth"><%= ptcet.label %></div>
  <div class="pulitzer-span one-fifth"><%= ptcet.content_element_type.name %></div>
  <div class="pulitzer-span one-fifth">
    <%= ptcet.type_specific_display %>
  </div>
  <div class="pulitzer-span ten-percent">
    <%= ptcet.required? ? 'required' : 'optional' %>
  </div>
  <div class="pulitzer-span ten-percent">
    <%= ptcet.sort_order %>
  </div>
  <div class="pulitzer-span ten-percent">
    <%= ajax_link "Edit", edit_post_type_content_element_type_path(ptcet), {}, dom_target(ptcet) %> |
    <%= ajax_delete 'Delete', post_type_content_element_type_path(ptcet), {}, dom_target(ptcet) %>
  </div>
</div>
