<h3><%= partial.name %></h3>
<%= render 'pulitzer/shared/error_messages', object: partial %>
<%= form_for partial, html: ajax_form_hash(dom_target(partial)), multipart: true,
  data: { server_endpoint: partial_path(partial) } do |f| %>
  <%= render partial: "/pulitzer/partials/fields", locals: { f: f, partial: partial } %>
  <%= submit_tag "Update" %>
  <%= link_to('Cancel', partial_path(partial), :class => 'button',
    data: { ajax_link: true, ajax_target: dom_target(partial) } ) %>
<% end %>
