<%= render 'pulitzer/shared/error_messages', object: partial %>
<%= form_for partial, html: ajax_form_hash(dom_target(partial.free_form_section, :partial_container), insert_method: 'append', empty_on_success: dom_target(partial.free_form_section, :new_partial)) do |f| %>
  <%= f.hidden_field :free_form_section_id %>
  <div class="pulitzer-span one-fifth">
    <%= f.text_field :label %>
  </div>
  <div class="pulitzer-span ten-percent">
    <%= f.collection_select :post_type_id, Pulitzer::PostType.partials, :id, :name, {}, revealer(dom_id(partial.free_form_section, :new_partial_type), highlander: true) %>
  </div>
  <div class="pulitzer-span one-half" <%= revealer_target_attrs(dom_id(partial.free_form_section, :new_partial_type)) %>>
    <% Pulitzer::PostType.partials.each do |post_type| %>
      <div class="pulitzer-row" <%= revealer_option_attrs(dom_id(partial.free_form_section, :new_partial_type), trigger: post_type.id) %>>
        <div class="pulitzer-span one-fifth">
          <% if post_type.arrangement_styles.any? %>
            <%= f.collection_select :arrangement_style_id, post_type.arrangement_styles, :id, :display_name, {}, {} %>
          <% else %>
            &nbsp;
          <% end %>
        </div>
        <div class="pulitzer-span one-fifth">
          <%= f.collection_select :background_style_id, post_type.background_styles, :id, :display_name, {}, {} %>
        </div>
        <div class="pulitzer-span one-fifth">
          <%= f.collection_select :justification_style_id, post_type.justification_styles, :id, :display_name, {}, {} %>
        </div>
        <div class="pulitzer-span two-fifths">
          <%= f.collection_select :sequence_flow_style_id, post_type.sequence_flow_styles, :id, :display_name, {}, {} %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="pulitzer-span ten-percent">
    <%= submit_tag "Create" %>
  </div>
  <div class="pulitzer-span ten-percent">
    <a class="button" data-emptier="true" data-target="<%= dom_target(partial.free_form_section, :new_partial)%>">Close</a>
  </div>
<% end %>