<h2>Template content elements</h2>

<% version.template_content_elements.each do |content_element| %>
  <%= render partial: '/pulitzer/content_elements/show_wrapper', locals: { content_element: content_element } %>
<% end %>

<% if version.allow_free_form? %>
  <div id="<%= dom_id version, :free_form_elements %>">
    <h2>Free form partials</h2>
    <div class="pulitzer-row margin-bottom list-item">
      <%= ajax_link "add a new partial for #{version.title}", new_partial_path(version_id: version), {}, dom_target(version, :new_free_form_partial) %>
      <div id="<%= dom_id(version, :new_free_form_partial) %>"></div>
    </div>
    <div class="pulitzer-row margin-bottom list-item" id="<%= dom_id(version, :free_form_partial_container) %>" id="partial_list" data-sorter href="<%= update_all_partials_path %>">
      <% version.free_form_partials.each do |partial| %>
        <%= render partial: '/pulitzer/partials/show_wrapper', locals: { partial: partial } %>
      <% end %>
    </div>
  </div>
<% end %>
