<%= form_for content_element, html: ajax_form_hash(dom_target(version, :free_form_content_element_container), insert_method: 'append', sub_class: "AddALineForm", container: dom_target(version, :new_free_form_content_element)) do |f| %>
  <%= f.collection_select :content_element_type_id, Pulitzer::ContentElementType.all, :id, :name, {},
  revealer(dom_id(version, :content_element_type_revealer), highlander: true) %>

  <div <%= revealer_target_attrs dom_id(version, :content_element_type_revealer) %>></div>

  <div <%= revealer_option_attrs(dom_id(version, :content_element_type_revealer), trigger: Pulitzer::ContentElementType.find_by(name: 'Image').id) %> >
    <%= f.label :height %>
    <%= f.text_field :height, placeholder: 'Height' %>
    <%= f.label :width %>
    <%= f.text_field :width, placeholder: 'Width' %>
  </div>

  <div <%= revealer_option_attrs(dom_id(version, :content_element_type_revealer), trigger: Pulitzer::ContentElementType.find_by(name: 'Text').id) %>>
    <%= f.label :text_editor, "Text editor" %>
    <%= f.select :text_editor, Pulitzer.text_editor_toolbars.map { |t| t[:name] } %>
  </div>

  <%= f.hidden_field :version_id %>
  <%= f.hidden_field :kind, value: :free_form %>

  <%= submit_tag "Create" %>
  <%= link_to('Cancel', '#', :class => 'button',
    data: { emptier: true, target: dom_target(version, :new_free_form_content_element) } ) %>
<% end %>
