<h1>Content elements for <%= @post.title %></h1>

<%= form_tag post_content_elements_update_multiple_path, method: :put, multipart: true do %>
  <% @content_elements.each do |element| %>
    <%= fields_for "content_elements[]", element  do |f| %>
      <%= f.label element.label %>
      <%= f.text_field :title, placeholder: 'Title' %>
      <% if element.image_type? %>
        <br>
        <%= image_tag element.image_url %>
        <%= f.file_field :image, placeholder: 'Image' %>
      <% else %>
        <%= f.text_area :body, placeholder: 'Body' %>
      <% end %>
      <br>
    <% end %>
  <% end %>
  <%= submit_tag "Update" %>
<% end %>

<%= link_to_posts(@post.post_type) %>
