<h3><%= humanize_class_name(tag_model).pluralize %></h3>
<% post.post_tags.where(label_type: tag_model).each do |post_tag| %>
  <ul class='inline-list'>
    <li><%= post_tag.label.name %></li>
    <li><%= ajax_delete 'delete', post_post_tag_path(post, post_tag), {}, "#new_tag_#{underscore_class_name(tag_model)}" %></li>
  </ul>
<% end %>

<%= ajax_link "Add a new #{humanize_class_name(tag_model)}", new_post_post_tag_path(post, tag_model: tag_model), {}, "#new_tag_#{underscore_class_name(tag_model)}" %>

<div id="new_tag_<%= underscore_class_name(tag_model) %>"></div>
